<div
    class="bg-[url('/../../assets/img/banner-tuyendung.png')] w-full md:h-[500px] lg:h-[700px] bg-no-repeat bg-cover mx-auto">
    <div class="text-[#FD4303] md:w-2/3 lg:w-1/2 md:ml-16 py-8 lg:ml-80 md:pt-72 lg:pt-[450px] px-4 md:px-0">
        <h2 class="font-bold text-lg md:text-3xl">SMAC - Ngôi nhà của những ước mơ lớn</h2>
        <p class="text-base md:text-xl pt-4 md:pt-7">Tại SMAC, mỗi nhân sự đều là một thành viên trong gia đình,
            cùng chung tay thực hiện
            những giấc mơ lớn</p>
    </div>
</div>