<div class=" mx-auto px-4 max-w-screen-xl py-12">
    <header class="text-center w-1/2 mx-auto">
        <h2 class=" font-bold sm:text-3xl  ">
            Tin tức, sự kiện
            <p class="border-b-4 border-[#FF7E00] my-6 w-1/6 mx-auto"></p>
        </h2>
    </header>
    <p class="max-w-md mx-auto mb-6 text-gray-500 text-center">
        Những sự kiện và hoạt động nổi bật của chúng tôi
    </p>
    <div class="grid grid-cols-1 lg:grid-cols-2 md:mx-16 lg:mx-0">
        <div class="mx-auto">
            <img src="../../../assets/img/news.png" alt="">
        </div>
        <div>
            <h2 class="text-3xl py-3 lg:pt-0">Triển khai thành công Hệ thống Đặt xe, giao hàng MyGo cho Viettel Post
            </h2>
            <div class="mx-auto">
                <div class="my-6 text-lg text-[#2D2D2D]">
                    <p class="flex gap-6 items-baseline">
                        <img src="../../../assets/img/Polygon.png" class="w-[10px] h-[15px]" alt=""><span>Đa dịch vụ tích
                            hợp
                            trong một ứng dụng duy nhất. Từ gọi xe, giao hàng đến gọi đồ ăn và mua
                            sắm</span>
                    </p>
                </div>
                <div class="text-lg text-[#2D2D2D]">
                    <p class="flex gap-6 items-baseline">
                        <img src="../../../assets/img/Polygon.png" class="w-[10px] h-[15px]" alt="">
                        <span>
                            MyGo có mặt tại tất cả tỉnh thành trên cả nước, mang công nghệ tiện lợi tới mọi
                            nơi
                        </span>
                    </p>
                </div>
                <div class="ml-8 mt-7 flex flex-wrap gap-4 text-center">
                    <a href="#"
                        class="flex border border-[#FF7E00] items-center gap-2 justify-between block rounded-3xl px-3 py-2 text-sm font-medium text-orange-500 sm:w-auto">
                        <img src="../../../assets/img/timhieuthemcam.png" alt=""> <span>Xem
                            chi
                            tiết</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
