<div class="max-w-screen-xl mx-auto px-5 md:px-10 my-10">
    <h2 class="font-bold text-3xl">SMAC cung cấp ứng dụng Viettel Roaming</h2>
    <img src="../../../assets/img/viettel roaming.png" class="w-52 h-52 my-8" alt="">
    <h3 class="text-2xl font-semibold mb-8">Ứng dụng Viettel Roaming – Tiện ích mới từ dịch vụ Chuyển vùng quốc tế
    </h3>
    <div class="grid grid-cols-3 gap-10">
        <div class="col-span-2 text-lg leading-8">
            <p>Ứng dụng Viettel Roaming mong muốn trở thành “Người đồng hành cho mọi chuyến đi” tăng tiện ích cho
                khách hàng sử dụng dịch vụ.</p>
            <p class="my-6">
                Với nhu cầu giữ liên lạc trong suốt quá trình di chuyển và công tác nước ngoài, chuyển vùng quốc tế
                thu hút một lượng đáng kể các khách hàng quan tâm và tìm hiểu thông tin về dịch vụ. Theo thống kê
                nội bộ của Viettel Telecom, xấp xỉ 500 lượt phản ánh qua kênh CSKH/tháng và gần 20 nghìn lượt truy
                cập tìm kiếm thông tin dịch vụ trên trang <a routerLink="">www.vietteltelecom.vn</a> được liệt kê là có
                liên quan đến
                loại hình dịch vụ này.
            </p>
            <p>Thấu hiểu được nhu cầu và mong muốn của người tiêu dùng, TT KDQT cho ra mắt ứng dụng Viettel Roaming
                với mục tiêu trở thành người đồng hành cho mọi chuyến đi của mọi khách hàng đang tin dùng và gắn bó
                với dịch vụ chuyển vùng quốc tế.</p>
        </div>
        <div class="">
            <img src="../../../assets/img/QR.png" alt="">
            <p class="my-4 font-medium">Truy cập</p>
            <a routerLink="" class="text-blue-500">www.roaming.vn/app</a>
        </div>
    </div>
    <p class="text-lg my-6">Trong ba tháng nghiên cứu và phát triển giải pháp, phiên bản cho hai hệ điều hành phổ
        biến là
        Android và iOS
        của ứng dụng Viettel Roaming đã được hoàn thiện và giới thiệu vào ngày 25/04/2015. Ứng dụng hứa hẹn hỗ trợ
        khách hàng trải nghiệm dịch vụ một cách dễ dàng và tiện lợi hơn, thay thế các hình thức tra cứu và tìm kiếm
        thông tin truyền thống.
    </p>
    <div>
        <div class="grid grid-cols-3 gap-16 mt-20">
            <img src="../../../assets/img/phone1.png" alt="">
            <img src="../../../assets/img/phone2.png" alt="">
            <img src="../../../assets/img/phone3.png" alt="">
        </div>
        <p class="my-14 text-center">Hình ảnh giao diện các chức năng của ứng dụng Viettel Roaming</p>
    </div>
    <div>
        <h3 class="text-xl font-semibold">Cách chức năng được giới thiệu bao gồm: </h3>
        <div class="leading-10 font-normal mt-3">
            <p>1. Đăng ký và huỷ dịch vụ Roaming</p>
            <p>2. Tra cứu giá cước Roaming</p>
            <p>3. Tra cứu cước nóng, chi tiết Roaming</p>
            <p>4. Hỗ trợ sử dụng tiện ích Roaming Callback-thuận tiện và tiết kiệm</p>
            <p>5. Các thông tin hướng dẫn dịch vụ Roaming</p>
            <p>6. Kết nối nhanh chóng tới từng tổng đài bảo hộ của các quốc gia</p>
            <p>7. Quản lý tiêu dung data Roaming</p>
            <p>8. Wifi Roaming: Cho phép khách hàng mua gói wifi và data không giới hạn tại các điểm truy cập không
                giới hạn</p>
        </div>
    </div>
    <div class="my-14">
        <p>
            Với các tính năng hỗ trợ và xu hướng thiết kế giao diện theo phong cách hiện đại, TT KDQT hy vọng có thể
            mang lại hình ảnh dịch vụ và tính năng mới lạ cho người dùng, từ đó khích lệ gia tăng tiêu dùng dịch vụ
            cũng như tình cảm gắn bó của khách hàng đối với thương hiệu Viettel.
        </p>
        <p class="my-6"> Vui lòng tải ứng dụng này theo đường dẫn <a routerLink=""
                class="text-blue-600">www.roaming.vn/app</a></p>
        <p>Trích nguồn:
            <a routerLink="" class="text-blue-600">
                http://international.viettel.vn/customer/news/detail/ung-dung-viettel-roaming-tien-ich-moi-tu-dich-vu-chuyen-vung-quoc-te
            </a>
        </p>
    </div>
</div>