<div class="max-w-screen-lg mx-auto">
    <header class="text-center w-96 mx-auto py-6">
        <h2 class=" font-bold text-black sm:text-3xl  ">
            Quy trình tuyển dụng
            <p class="border-b-4 border-orange-500 mt-4 w-1/5 mx-auto"></p>
        </h2>
    </header>
    <p class="max-w-md mx-10 lg:mx-auto mb-10 md:mb-20 text-gray-500 text-center">
        Bạn có năng lực và đam mê? Hãy tham gia cùng chúng tôi!
    </p>
    <!-- laptop & tablet -->
    <div class="lg:mx-0 md:mx-10 hidden md:block">
        <div class="grid grid-cols-9 items-center">
            <div>
                <div class="border-4 lg:p-7 md:p-4 mx-auto border-[#FF7E00] rounded-full">
                    <img src="../../../assets/img/hoso.png" class="md:w-[36px] md:h-[36px] lg:w-[48px] lg:h-[48px]" alt="">
                </div>
            </div>
            <div>
                <img src="../../../assets/img/muiten.png" alt="">
            </div>
            <div>
                <div class="border-4 lg:p-7 md:p-4 mx-auto border-[#FF7E00] rounded-full">
                    <img src="../../../assets/img/soloaihoso.png" class="md:w-[36px] md:h-[36px] lg:w-[48px] lg:h-[48px]" alt="">
                </div>

            </div>
            <div>
                <img src="../../../assets/img/muiten.png" alt="">
            </div>
            <div>
                <div class="border-4 lg:p-7 md:p-4 mx-auto border-[#FF7E00] rounded-full">
                    <img src="../../../assets/img/Quicktest.png" class="md:w-[36px] md:h-[36px] lg:w-[48px] lg:h-[48px]" alt="">
                </div>
            </div>
            <div>
                <img src="../../../assets/img/muiten.png" alt="">
            </div>
            <div>
                <div class="border-4 lg:p-7 md:p-4 mx-auto border-[#FF7E00] rounded-full">
                    <img src="../../../assets/img/pvhoidong.png" class="md:w-[36px] md:h-[36px] lg:w-[48px] lg:h-[48px]" alt="">
                </div>

            </div>
            <div>
                <img src="../../../assets/img/muiten.png" alt="">
            </div>
            <div>
                <div class="border-4 lg:p-7 md:p-4 border-[#FF7E00] rounded-full">
                    <img src="../../../assets/img/thongbao.png" class="md:w-[36px] md:h-[36px] lg:w-[48px] lg:h-[48px]" alt="">
                </div>
            </div>
        </div>
        <div class="flex gap-14 justify-between my-6">
            <p class="text-center w-[140px]">Tiếp nhận hồ sơ</p>

            <p class="text-center w-[140px]">Sơ loại hồ sơ</p>

            <p class="text-center w-[140px]">Quicktest và phỏng vấn chuyên môn</p>

            <p class="text-center w-[140px]">Phỏng vấn hội đồng</p>

            <p class="text-center w-[140px]">Thông báo kết quả trúng tuyển</p>
        </div>
    </div>

    <!-- Mobile -->
    <div class="px-4 pb-8 mx-auto sm:max-w-xl lg:hidden">
        <div class="grid gap-6 row-gap-10">
            <div class="lg:py-6 lg:pr-16">
                <div class="flex items-center">
                    <div class="flex flex-col items-center mr-4">
                        <div>
                            <div
                                class="flex items-center justify-center w-16 h-16 border-2 m-4 border-[#FF7E00] rounded-full">
                                <img src="../../../assets/img/hoso.png" alt="">
                            </div>
                        </div>
                        <div class="w-1/2 py-3 transform rotate-90">
                            <img src="../../../assets/img/muiten.png" alt="">
                        </div>
                    </div>
                    <div class="pt-1 pb-8">
                        <p class="mb-2 text-lg font-bold">Tiếp nhận hồ sơ</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="flex flex-col items-center mr-4">
                        <div>
                            <div
                                class="flex items-center justify-center w-16 h-16 border-2 m-4 border-[#FF7E00] rounded-full">
                                <img src="../../../assets/img/soloaihoso.png" alt="">
                            </div>
                        </div>
                        <div class="w-1/2 py-3 transform rotate-90">
                            <img src="../../../assets/img/muiten.png" alt="">
                        </div>
                    </div>
                    <div class="pt-1 pb-8">
                        <p class="mb-2 text-lg font-bold">Sơ loại hồ sơ</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="flex flex-col items-center pl-2 mr-4">
                        <div>
                            <div
                                class="flex items-center justify-center w-16 h-16 border-2 m-4 border-[#FF7E00] rounded-full">
                                <img src="../../../assets/img/Quicktest.png" alt="">
                            </div>
                        </div>
                        <div class="w-1/2 py-3 transform rotate-90">
                            <img src="../../../assets/img/muiten.png" alt="">
                        </div>
                    </div>
                    <div class="pt-1 pb-8">
                        <p class="mb-2 text-lg font-bold">Quicktest và phỏng vấn chuyên môn</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="flex flex-col items-center mr-3">
                        <div>
                            <div
                                class="flex items-center justify-center w-16 h-16 border-2 m-4 border-[#FF7E00] rounded-full">
                                <img src="../../../assets/img/pvhoidong.png" alt="">
                            </div>
                        </div>
                        <div class="w-1/2 py-3 transform rotate-90">
                            <img src="../../../assets/img/muiten.png" alt="">
                        </div>
                    </div>
                    <div class="pt-1 pb-8">
                        <p class="mb-2 text-lg font-bold">Phỏng vấn hội đồng</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="flex flex-col items-center pl-1 mr-4">
                        <div>
                            <div
                                class="flex items-center justify-center w-16 h-16 border-2 m-4 border-[#FF7E00] rounded-full">
                                <img src="../../../assets/img/thongbao.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="pt-1">
                        <p class="mb-2 text-lg font-bold">Thông báo kết quả trúng tuyển</p>
                        <p class="text-gray-700"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>