<div class="max-w-screen-xl mx-5 lg:mx-52 my-10 grid grid-cols-1 gap-8">
    <!-- item1 -->
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div>
            <img src="../../../assets/img/gioithieu3.png" class="mx-auto w-[300px] md:w-[480px] h-auto" alt="">
        </div>
        <div class="mx-auto">
            <h2 class="font-bold text-xl md:text-3xl mb-4">Chúng tôi là ai?</h2>
            <p class="text-base md:text-base">Ngày 27/03/2017: Công ty Cổ phần Công nghệ Thông Tin SMAC Việt Nam
                được thành lập bởi những nhà quản lý, chuyên gia công nghệ của các tập đoàn hàng đầu Việt Nam như
                FPT, Viettel, Mobifone... SMAC là một trong những công ty công nghệ hàng đầu với đội ngũ chuyên môn
                có kinh nghiệm, tâm huyết, sáng tạo và tài năng; chuyên cung cấp các sản phẩm, giải pháp và dịch vụ
                công nghệ thông tin cho các khách hàng thuộc khối như Viễn thông, Tài chính, Vận tải, Doanh
                nghiệp...</p>
        </div>
    </div>
    <!-- item2 -->
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div class="md:hidden">
            <img src="../../../assets/img/gioithieu1.png" class="mx-auto w-[300px] md:w-[480px] h-auto" alt="">
        </div>
        <div class="mx-auto">
            <h2 class="font-bold text-xl md:text-3xl mb-4">Sứ mệnh</h2>
            <p class="text-base md:text-base">Chúng tôi tận tâm, tận lực, sáng tạo để tạo ra các sản phẩm và dịch vụ
                tốt và hiện
                đại để làm hài lòng khách hàng, cải thiện chất lượng cuộc sống; mang đến cho mỗi thành viên một môi
                trường phát huy tối đa năng lực của bản thân và cuộc sống sung túc, hạnh phúc</p>
        </div>
        <div class="hidden md:block">
            <img src="../../../assets/img/gioithieu1.png" class="mx-auto w-[300px] md:w-[480px] h-auto" alt="">
        </div>
    </div>

    <!-- item3 -->
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div>
            <img src="../../../assets/img/gioithieu2.png" class="mx-auto w-[300px] md:w-[480px] h-auto" alt="">
        </div>
        <div class="mx-auto">
            <h2 class="font-bold text-xl md:text-3xl mb-4">Tầm nhìn</h2>
            <p class="text-base md:text-base">Chúng tôi không ngừng mở rộng mạng lưới khách hàng và đối tác trên
                khắp thế giới để
                trao đổi, áp dụng, nghiên cứu các giải pháp, xu hướng công nghệ trong tương lai và trở thành công ty
                hàng đầu thế giới trong việc cung cấp các giải pháp kỹ thuật số</p>
        </div>
    </div>
</div>