<div id="default-carousel" class="relative mx-auto w-full h-[550px] md:h-96 max-h-screen lg:h-[750px]"
    data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative overflow-hidden rounded-lg h-[550px] md:h-96 lg:h-[750px]">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <section class="relative bg-[url('/../../assets/img/banner.png')] bg-no-repeat mx-auto max-w-screen-2xl">
                <div
                    class="relative mx-auto max-w-screen-xl px-4 py-6 md:py-20 lg:py-32 sm:px-6 md:flex md:items-center md:px-8">
                    <div class="max-w-xl mx-auto text-center ltr:sm:text-left rtl:sm:text-right">
                        <h1>
                            <img src="../../../assets/img/logo-banner.png" class="w-[200px] lg:w-auto md:mx-0 mx-auto"
                                alt="">
                        </h1>

                        <p class="text-white text-2xl font-medium my-5 md:my-10 max-w-sm lg:max-w-lg">
                            Chân thành - Sáng tạo - Linh hoạt - Thấu hiểu
                        </p>

                        <div class="md:hidden">
                            <img src="../../../assets/img/Img_banner.png" class="w-[300px] lg:w-auto mx-auto md:mx-0"
                                alt="">
                        </div>

                        <div class="mt-10 flex flex-wrap gap-4 text-center">
                            <a href="#"
                                class="flex items-center gap-3 mx-auto md:mx-0 justify-between block rounded-3xl bg-white px-6 py-3 text-sm font-medium text-orange-500 shadow sm:w-auto">
                                <img src="../../../assets/img/timhieuthemcam.png" alt=""> <span>Xem
                                    chi
                                    tiết</span>
                            </a>
                        </div>
                    </div>
                    <div class="hidden md:block">
                        <img src="../../../assets/img/Img_banner.png" class="w-[300px] lg:w-auto mx-auto md:mx-0"
                            alt="">
                    </div>
                </div>
            </section>
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <section class="relative bg-banner bg-no-repeat ">
                <div
                    class="relative mx-auto max-w-screen-xl px-4 py-6 md:py-20 lg:py-32 sm:px-6 md:flex lg:h-screen md:items-center md:px-8">
                    <div class="max-w-xl mx-auto text-center ltr:sm:text-left rtl:sm:text-right">
                        <h1>
                            <img src="../../../assets/img/logo-banner.png" class="w-[200px] lg:w-auto md:mx-0 mx-auto"
                                alt="">
                        </h1>

                        <p class="text-white text-2xl font-medium my-10 max-w-sm lg:max-w-lg">
                            Chân thành - Sáng tạo - Linh hoạt - Thấu hiểu
                        </p>

                        <div class="mt-10 flex flex-wrap gap-4 text-center">
                            <a href="#"
                                class="flex items-center gap-3 mx-auto md:mx-0 justify-between block rounded-3xl bg-white px-6 py-3 text-sm font-medium text-orange-500 shadow sm:w-auto">
                                <img src="../../../assets/img/timhieuthemcam.png" alt=""> <span>Xem
                                    chi
                                    tiết</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <img src="../../../assets/img/Img_banner.png" class="w-[300px] lg:w-auto mx-auto md:mx-0"
                            alt="">
                    </div>
                </div>
            </section>
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <section class="relative bg-banner bg-no-repeat ">
                <div
                    class="relative mx-auto max-w-screen-xl px-4 py-6 md:py-20 lg:py-32 sm:px-6 md:flex lg:h-screen md:items-center md:px-8">
                    <div class="max-w-xl mx-auto text-center ltr:sm:text-left rtl:sm:text-right">
                        <h1>
                            <img src="../../../assets/img/logo-banner.png" class="w-[200px] lg:w-auto md:mx-0 mx-auto"
                                alt="">
                        </h1>

                        <p class="text-white text-2xl font-medium my-10 max-w-sm lg:max-w-lg">
                            Chân thành - Sáng tạo - Linh hoạt - Thấu hiểu
                        </p>

                        <div class="mt-10 flex flex-wrap gap-4 text-center">
                            <a href="#"
                                class="flex items-center gap-3 mx-auto md:mx-0 justify-between block rounded-3xl bg-white px-6 py-3 text-sm font-medium text-orange-500 shadow sm:w-auto">
                                <img src="../../../assets/img/timhieuthemcam.png" alt=""> <span>Xem
                                    chi
                                    tiết</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <img src="../../../assets../../../assets/img/Img_banner.png"
                            class="w-[300px] lg:w-auto mx-auto md:mx-0" alt="">
                    </div>
                </div>
            </section>
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <section class="relative bg-banner bg-no-repeat ">
                <div
                    class="relative mx-auto max-w-screen-xl px-4 py-6 md:py-20 lg:py-32 sm:px-6 md:flex lg:h-screen md:items-center md:px-8">
                    <div class="max-w-xl mx-auto text-center ltr:sm:text-left rtl:sm:text-right">
                        <h1>
                            <img src="../../../assets/img/logo-banner.png" class="w-[200px] lg:w-auto md:mx-0 mx-auto"
                                alt="">
                        </h1>

                        <p class="text-white text-2xl font-medium my-10 max-w-sm lg:max-w-lg">
                            Chân thành - Sáng tạo - Linh hoạt - Thấu hiểu
                        </p>

                        <div class="mt-10 flex flex-wrap gap-4 text-center">
                            <a href="#"
                                class="flex items-center gap-3 mx-auto md:mx-0 justify-between block rounded-3xl bg-white px-6 py-3 text-sm font-medium text-orange-500 shadow sm:w-auto">
                                <img src="../../../assets/img/timhieuthemcam.png" alt=""> <span>Xem
                                    chi
                                    tiết</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <img src="../../../assets/img/Img_banner.png" class="w-[300px] lg:w-auto mx-auto md:mx-0"
                            alt="">
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Slider indicators -->
    <div class="flex justify-center mt-5">
        <div class="flex space-x-3">
            <button type="button" class="w-3 h-3 rounded-full bg-FF5C01 border border-orange-500  hover:bg-orange-500"
                aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
            <button type="button" class="w-3 h-3 rounded-full bg-FF5C01 border border-orange-500  hover:bg-orange-500"
                aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
            <button type="button" class="w-3 h-3 rounded-full bg-FF5C01 border border-orange-500  hover:bg-orange-500"
                aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
            <button type="button" class="w-3 h-3 rounded-full bg-FF5C01 border border-orange-500  hover:bg-orange-500"
                aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
        </div>
    </div>

    <!-- Slider controls -->
</div>